fastapi==0.121.0
uvicorn==0.38.0
jinja2==3.1.6
python-dotenv==1.2.1
sqlalchemy==2.0.44
scikit-learn==1.6.1
python-multipart==0.0.20
pydantic==2.12.3
markdown==3.9
pillow==11.3.0
pypdf==6.2.0
pymupdf==1.26.5
mammoth==1.11.0
striprtf==0.0.29
bleach==6.2.0
mutagen==1.47.0
pandas==2.3.3
openpyxl==3.1.5
xlrd==1.2.0
httpx==0.28.1
argon2-cffi==25.1.0
python-jose==3.5.0
itsdangerous==2.2.0
email-validator==2.3.0
psycopg2-binary==2.9.11
